__pycache__/main.cpython-37.pyc
__pycache__/main.cpython-39.pyc
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/COLLECT-00.toc
build/main/EXE-00.toc
build/main/LessonEnd.wav
build/main/LessonPreparation.wav
build/main/LessonStart.wav
build/main/main.exe
build/main/main.exe.manifest
build/main/main.pkg
build/main/output.txt
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/schedule.csv
build/main/schedule.log
build/main/Tree-00.toc
build/main/Tree-01.toc
build/main/Tree-02.toc
build/main/warn-main.txt
build/main/xref-main.html
build/main/localpycos/struct.pyo
dist/LessonEnd.wav
dist/LessonPreparation.wav
dist/LessonStart.wav
dist/main.exe
dist/output.txt
dist/schedule.csv
dist/schedule.log
main.spec
schedule.log
schedule.csv.bak
打铃.zip
